/* Reset and basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.825rem;
  padding-right: 0.825rem;
}
.container-full {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.container-full:not(.right-side) {
  margin-top: 8rem;
}
/* XS */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
/* SM */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
/* MD */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* LG */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* XL */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.logo {
  position: relative;
  z-index: 2000;
}
.header-logo {
  position: relative;
}
.header-logo img {
  width: 30rem;
}
.logo img {
  width: 13rem;
}

.accent {
  color: #f34f24;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.btn {
  background-color: rgba(0, 0, 0, 0.219);
  padding: 15px 35px;
  width: 18rem;
  border-radius: 9rem;
  border: solid white 2px;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
}

.btn-accent {
  border-color: #f34f24;
  color: #f34f24;
}

/* Header styling */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.nav-links li a.active {
  color: #f34f24;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-links li a {
  font-family: "Merriweather", serif;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
}

.nav-links li:not(:last-child) {
  margin-right: 3rem;
}

@media (min-width: 1024px) {
  #hamburger-menu {
    display: none;
  }
}

@media (max-width: 1023px) {
  .nav-links {
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #111010c5;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.8s ease;
  }
  .nav-links.open {
    pointer-events: visible;
    opacity: 1;
  }

  .nav-links li {
    margin-top: 10px;
    margin-left: 50%;
    visibility: hidden;
    opacity: 0;
  }

  .nav-links li:not(:last-child) {
    margin-right: 0rem;
  }

  .nav-links.open li {
    animation: navigation-anim 0.5s forwards;
    animation-timing-function: ease;
  }

  .nav-links.close li {
    animation: navigation-anim-reverse 0.5s forwards;
    animation-timing-function: ease;
  }

  .nav-links li a {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-size: 65px;
  }
}

/* Hero section styling */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  text-align: center;
  overflow: hidden; /* To ensure the pseudo-element does not overflow the hero section */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/header_image.jpg") no-repeat center center/cover;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: -1; /* Ensure the pseudo-element is behind the text */
}

.hero.blur::before {
  filter: blur(3px);
  transform: scale(1.08); /* Zoom effect */
}

.hero-content {
  position: relative;
  z-index: 1; /* Ensure content is above the pseudo-element */
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.hero-content {
  z-index: 1;
  width: 40%;
  margin-top: 5rem;
}

.hero h1 {
  font-size: 4rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
}
.hero h1 span {
  font-size: 4rem;
}

/* HAMBURGER  */

#hamburger-menu {
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 2000;
}

#hamburger-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #f34f24;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(2) {
  top: 12.6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(3) {
  top: 25.2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 5.6px;
}

#hamburger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25.3px;
  left: 6px;
}

@keyframes navigation-anim {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.85) translate(-40%, 80%);
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    transform: scale(1) translate(-70%, 0);
    opacity: 1;
  }
}

@keyframes navigation-anim-reverse {
  0% {
    visibility: visible;
    transform: translate(-70%, 0);
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    transform: translate(-40%, 80%);
    opacity: 0;
  }
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .logo img {
    width: 11rem;
  }
  .header-logo img {
    width: 18rem;
  }
  .nav-links li a {
    font-size: 40px; /* Smaller font size for mobile */
  }

  .hero-content {
    width: 80%; /* Expand hero content width for mobile */
  }

  .hero {
    height: 90vh;
  }
  .hero h1,
  .hero h1 span {
    font-size: 2.8rem; /* Adjust hero text size for mobile */
  }

  .btn {
    padding: 10px 20px; /* Adjust button padding for mobile */
    font-size: 16px; /* Adjust button font size for mobile */
    max-width: 100%;
  }

  .buttons {
    flex-direction: column; /* Stack buttons vertically on mobile */
    gap: 1rem; /* Reduce gap between buttons on mobile */
    align-items: center;
  }
}

/*Rest of the page */

@media (min-width: 1024px) {
}

/* XL */
@media (min-width: 1280px) {
}

/* 2xL */
@media (min-width: 1536px) {
  .section-flex-container {
    display: flex;
    width: 100%;
  }
  .image-container {
    width: 45%;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }
  .line-container {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    width: 100%;
    height: 80vh;
    border: solid #f34f24 3px;
  }
  .text-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    padding-left: 8rem;
  }
  .section-title {
    font-size: 50px;
    margin-bottom: 2rem;
  }
  .section-text {
    font-size: 32px;
    letter-spacing: 4px;
    width: 70%;
    word-spacing: 5px;
    line-height: 1.45;
  }

  .right-side .section-flex-container {
    justify-content: flex-end; /* Align items to the right-side */
  }
  .right-side .image-container {
    width: 55%;
  }

  .right-side .text-container {
    margin-left: auto; /* Adjust margins to align to the right-side */
    width: 45%;
  }
}
