/* Reset and basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.logo {
  position: relative;
  z-index: 2000;
}
.logo img {
  width: 13rem;
}

.accent {
  color: #d3531a;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.btn {
  background-color: rgba(0, 0, 0, 0.219);
  padding: 15px 35px;
  max-width: fit-content;
  border-radius: 9rem;
  border: solid white 2px;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
}

.btn-accent {
  border-color: #d3531a;
  color: #d3531a;
}

/* Header styling */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;

  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(15, 15, 15, 0.9);
  opacity: 01;
  border-radius: 5px;
  z-index: 1000;
}

.nav-links.open {
  opacity: 1;
}

.nav-links li {
  margin-top: 10px;
  margin-left: 50%;
  visibility: hidden;
  opacity: 0;
}
.nav-links.open li {
  animation-name: navigation-anim;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  visibility: visible;
  opacity: 1;
}

.nav-links.close li {
  animation-name: navigation-anim;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

.nav-links li a {
  color: #ffffff;
  display: block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 65px;
  text-align: left;
}
.nav-links.open li a {
}

.nav-links li a.active {
  color: #d3531a;
}

/* Hero section styling */
.hero {
  height: 100vh;
  background: url("images/header_image.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  text-align: center;
  transition: filter 0.3s ease-in-out;
}

.hero.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.hero-content {
  z-index: 1;
  width: 40%;
}

.hero h1 {
  font-size: 4.5rem;
}
.hero h1 span {
  font-size: 4.5rem;
}

/* HAMBURGER  */

#hamburger-menu {
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 2000;
}

#hamburger-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(2) {
  top: 12.6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(3) {
  top: 25.2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 5.6px;
}

#hamburger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25.3px;
  left: 6px;
}

@keyframes navigation-anim {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    transform: scale(0.85) translate(-40%, 80%);
    opacity: 1;
  }

  100% {
    visibility: visible;
    transform: scale(1) translate(-60%, 0);
    opacity: 1;
  }
}
